@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: 'Space Mono', monospace;
}

section {
  display: flex;
  justify-content: space-around;
}

header {
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 1rem;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

fieldset {
  border: none;
}

fieldset button {
  border: none;
  background-color: white;
}

fieldset img {}

.scoreboard h2 {
  text-align: center;
}